---
ansistrano_deploy_to: "/home/{{ roles_common_deploy_user }}/workspace"
ansistrano_shared_paths:
  - var/cache
  - var/logs
  - var/sessions
  - vendor
ansistrano_allow_anonymous_stats: no
ansistrano_keep_releases: 2
ansistrano_deploy_via: git
ansistrano_git_repo: git@github.com:yukihiko-shinoda/symfony3-codeanywhere.git
ansistrano_git_branch: master
ansistrano_before_setup_tasks_file: "{{ playbook_dir }}/roles/hooks/tasks/set_mysql_ingress.yml"
ansistrano_after_update_code_tasks_file: "{{ playbook_dir }}/roles/hooks/tasks/set_dot_htaccess.yml"
ansistrano_after_symlink_shared_tasks_file: "{{ playbook_dir }}/roles/hooks/tasks/crete_shared_paths.yml"
ansistrano_after_symlink_tasks_file: "{{ playbook_dir }}/roles/hooks/tasks/execute_composer.yml"
